body { 
    background-color: #121212; 
    color: #ffffff;
}

.card-custom { 
    background-color: #1e1e1e; 
    border: 1px solid #333; 
}

.btn-elegant { 
    background-color: #c5a880; 
    color: #000; 
    font-weight: bold; 
    transition: all 0.3s ease;
}

.btn-elegant:hover { 
    background-color: #a38965; 
    color: #fff; 
}